* {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

.img-carousel {
    width: 100%;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}